*{
    margin: 0%;
    padding: 0%;
    cursor: pointer;
}
nav{
    background-color: black;
    color: white;
    padding: 30px;
    
}
h1,ul,li{
    display: inline;
}
ul{
    margin-left: 60%;
}
li{
    color: gray;
    cursor:pointer;
}

li:hover{
    color: white;
}
input{
    width: 60%;
    padding: 15px;
}
.searchbar{
    text-align: center;
    color:gray;
    padding: 50px;}
.box1 img{
    width: 220px;
    height: 220px;
    display: inline;
    
}

.box2{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    padding: 3px;
    margin-left: 5px;
}
.box2 img{
    height: 220px;
    width: 220px;
    display: inline;
}
.box3 img{
    height: 220px;
    width: 220px;
    display: inline;
}
.box1{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    padding: 3px;
}


.box3{
    
    border-color: black;
    border-width: 2px;
    border-style:solid ;
    display:inline-block;
    padding: 3px;
    margin-left: 5px;
    
   
}
.product{
    text-align: center;
}
.box1 p:hover{
    background-color:black;
    color:beige;
}
.box2 p:hover{
    background-color:black;
    color:beige;
}
.box3 p:hover{
    background-color:black;
    color:beige;
}
.about{
    padding: 30px;
    text-align: center;
}
.contact{
    background-color: black;
    color: white;
    padding-top: 20px;
    text-align: center;
}
.contact p{
    color: grey;
    margin-top: 5%;
    padding-bottom: 20px;
}

    